h1 {font-size:200%;}
h2 {font-size:180%;}
h3 {font-size:150%;}

.center{
	text-align: center;
}



.thmstyle {
	margin-left:3em;
	margin-bottom:1em;
}

.thmstyle::before {
	font-variant:small-caps;
	font-weight:bold;
	color:#808080;
	text-shadow: 1px 1px 4px rgba(170,170,170,0.9);
	display:block;
	float:left;
	margin-left:-3em;
}

.thmstyle.t::before {content:"Thm.:";}
.thmstyle.o::before {content:"Obs.:";}
.thmstyle.d::before {content:"Def.:";}
.thmstyle.r::before {content:"Rem.:";}




.proofstyle {
	margin-left:3em;
	margin-bottom:1em;
}

.proofstyle::before {
	font-variant:small-caps;
	font-weight:bold;
	color:#808080;
	text-shadow: 1px 1px 4px rgba(170,170,170,0.9);
	display:block;
	float:left;
	margin-left:-3em;
	content:"Proof:";
}

.proofstyle::after {
	position:absolute;
	right:20px;
	bottom:-5px;
	font-size:35px;
	content:"□";
}

.proofstyle.t::before {content:"Proof of Thm:";}

.proofstyle.i::before {content:"Idea:";}


.thmstyletop::before {
	font-variant:small-caps;
	font-weight:bold;
	color:#808080;
	text-shadow: 1px 1px 4px rgba(170,170,170,0.9);
	display:block;
}

.thmstyletop.s::before {content:"Satz:";}
.thmstyletop.l::before {content:"Lemma:";}
.thmstyletop.d::before {content:"Definition:";}
