---
layout : default
title : Panta Rhei - A Collection of Definitions/Theorems/Proofs/Concepts in the Context of Flows in Graphs
---


<h2>A Collection of Definitions/Theorems/Proofs/Concepts in the Context of Flows in Graphs</h2>

<p>
	A <em>flow</em> in a (directed) graph \(G = (V,E)\) is a function \(f\) assigning a flow volume or rate to each edge \(e \in E\). A mapping \(f: E \to \IR\) describes a <em>static flow</em> (where \(f(e)\) is the volume of flow on edge \(e\)), a mapping \(f: E \times \IR \to \IR\) describes a <em>dynamic flow</em> (where \(f(e,\theta)\) is the flow rate on edge \(e\) at time \(\theta\). For dynamic flows the flow rate may also be split into an <em>(edge) inflow rate</em> \(f^+: E \times \IR \to \IR\) and an <em>(edge) outflow rate</em> \(f^+: E \times \IR \to \IR\). <br />
	Usually the amount of flow on an edge is restricted by some <em>edge capacities</em> \(\nu: E \to \IR\). Furthermore feasible flows might be required to adhere to some kind of <em>flow conservation</em> at the vertices (i.e. sum of inflows into a vertex is equal to the sum of all outflows from this vertex - at all times for dynamic flows), usually with the exception of some special vertices, called <em>sources</em> (where more flow leaves than enters) and <em>sinks</em> (where more flow enters than leaves).
</p>

<h3>Content</h3>

<ul>
	<li><a href="{{ site.baseurl }}/main-definitions">&rarr; Main definitions</a></li>
</ul>


<h3>Posts</h3>

<ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
 </ul>

