---
layout : default
title : Panta Rhei - Main Definitions
permalink : /main-definitions/
---

This page collects the main definitions.

<h3>Flow Networks</h3>

<div class="thmstyle d" id="def_staticFlow">
	A <em>static flow network</em> \(N = (G, \nu, S, T)\) consists of a directed graph \(G\), edge capacities \(\nu: E \to \IR, e \mapsto \nu_e\) and two disjoint subsets \(S, T \subseteq V\) of sources and sinks. <br />
	A <em>static flow</em> in \(N\) is a mapping \(f: E \to \IR\) satisfying
	<ul>
		<li>\(f(e) \leq \nu_e \text{ f.a. \ e \in E\) (adhering to edge capacities)</li>
		<li>\(\sum_{e \in \delta^+(v)}f(e) = \sum_{e \in \delta^-(v)}f(e) \text{ f.a. } v \in V\setminus(S\cup T)\) (outflow from \(v\) = inflow into \(v\), i.e. flow conservation) <br />
			\(\sum_{e \in \delta^+(v)}f(e) \geq \sum_{e \in \delta^-(v)}f(e) \text{ f.a. } v \in S\) (positiv net outflow from sources)<br />
			\(\sum_{e \in \delta^+(v)}f(e) \leq \sum_{e \in \delta^-(v)}f(e) \text{ f.a. } v \in T\) (positive net inflow into sinks)</li>
	</ul>
	where \(\delta^+(v) \coloneqq \set{(v,w) \in E}, \delta^-(v) \coloneqq \set{(w,v) \in E}\) are the outgoing edges from and incoming edges to \(v\), respectively.
</div>


<div class="thmstyle d" id="def_dynamicFlow">
	A <em>dynamic flow network</em> \(N = (G, \nu, \tau S, T)\) consists of a directed graph \(G\), edge capacities \(\nu: E \to \IR, e \mapsto \nu_e\), travel times \(\tau: E \to \IR, e \mapsto \tau_e\) and two disjoint subsets \(S, T \subseteq V\) of sources and sinks. <br />
	A <em>dynamic flow</em> in \(N\) is a mapping \(f: E \times \IR \to \IR\) (inflow rate function) satisfying
	<ul>
		<li>\(f(e,\theta) \leq \nu_e \text{ f.a. \ e \in E, \theta \in \IR}\) (adhering to edge capacities)</li>
		<li>\(\sum_{e \in \delta^+(v)}f(e,\theta) = \sum_{e \in \delta^-(v)}f(e,\theta-\tau_e) \text{ f.a. } v \in V\setminus(S\cup T)\) (outflow from \(v\) = inflow into \(v\), i.e. flow conservation) <br />
			\(\sum_{e \in \delta^+(v)}f(e,\theta) \geq \sum_{e \in \delta^-(v)}f(e,\theta-\tau_e) \text{ f.a. } v \in S\) (positiv net outflow from sources)<br />
			\(\sum_{e \in \delta^+(v)}f(e,\theta) \leq \sum_{e \in \delta^-(v)}f(e,\theta-\tau_e) \text{ f.a. } v \in T\) (positive net inflow into sinks)</li>			
		</li>
	</ul>
	
	We often write \(f_e: \IR \to \IR, \theta \mapsto f_e(\theta) \coloneqq f(e,\theta)\) for the (in-)flow rate on edge \(e\).
</div>


<div class="thmstyle r" id="rem_dynamicFlowsWithTauZeroAsSeqOfStaticFlows">
	If all travel times in a dynamic network are zero, then dynamic flows in this network are essentially a sequence of (unrelated) static flows. This is due to the fact, that with zero travel times flow particles which enter the network at time \(\theta\) also vanish from the network at time \(\theta\). Therefore flow particles entering at different times do not influence each other.
</div>
