<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{{ page.title }}</title>

    <!--
        This file contains styles specific for this example presentation.
    -->
	<link href="css/basic.css" rel="stylesheet" />
	
	<script type="text/x-mathjax-config">
	  MathJax.Hub.Config({
		tex2jax: {
		  inlineMath: [ ['$','$'], ['\\(','\\)'] ],
		  processEscapes: true
		},
		"SVG": { fonts: ["TeX"], scale:95 }
	  });
	</script>

	<script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML">MathJax.Hub.Config({
	"CommonHTML": { scale: 85, linebreaks: { automatic: true } }})
	</script>
	<!-- Falls kein Internet verfügbar... -->
	<script type="text/javascript" async src="extras/MathJax/MathJax.js?config=TeX-MML-AM_CHTML">MathJax.Hub.Config({
	"CommonHTML": { scale: 85, linebreaks: { automatic: true } }})
	</script>

</head>

  
  <body>
	<div style="display:none;">
		\[
			\newcommand{\INo}{\mathbb{N}_0}
			\newcommand{\INs}{\mathbb{N}^\ast}
			\newcommand{\IZ}{\mathbb{Z}}
			\newcommand{\IR}{\mathbb{R}}
			
			\newcommand{\coloneqq}{:=}
			\newcommand{\set}[1]{\left\{#1\right\}}
		\]
	</div>
	
	<a href="{{ site.baseurl }}"><h1>Panta Rhei</h1></a>
	
	{{ content }}
	
	
	
	
  </body>
</html>