---
layout : default
---
<a href="file:///C:/Users/Lukas/Documents/Spaces/Uni/Denkmaschine/_site/blog.html">&larr; Overview</a>

<h1>{{ page.title }}</h1>
<p>{{ page.date | date_to_string }}</p>

{{ content }}

<hr />

<strong>Categories:</strong> 
{% for cat in page.categories %}
	{{ cat }} | 
{% endfor %} <br />

<strong>Tags:</strong> 
{% for tag in page.tags %}
	<a href="../../../../../tag/{{ tag }}/index.html">{{ tag }}</a> | 
{% endfor %}