---
layout: default
---
<!-- From: https://charliepark.org/tags-in-jekyll  --> 

<h2 class="post_title">Tags In Jekyll</h2>
<ul>
  {% for post in site.posts %}
  {% for tag in post.tags %}
  {% if tag == page.tag %}
  <li class="archive_list">
    <time style="color:#666;font-size:11px;" datetime=''></time> <a href='../..{{ post.url }}'>{{ post.title }}</a>
    <ul class="tag_list"> 
      
    </ul>
  </li>
  {% endif %}
  {% endfor %}
  {% endfor %}
</ul>